<p id="notice"><%= notice %></p>

<p>
  <b>Area code:</b>
  <%= @nielsen_area.area_code %>
</p>

<p>
  <b>Name:</b>
  <%= @nielsen_area.name %>
</p>


<%= link_to 'Edit', edit_nielsen_area_path(@nielsen_area) %> |
<%= link_to 'Back', nielsen_areas_path %>
