<h1>Listing vats</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th>Percentage</th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vats.each do |vat| %>
  <tr>
    <td><%= vat.code %></td>
    <td><%= vat.name %></td>
    <td><%= vat.percentage %></td>
    <td><%= vat.type %></td>
    <td><%= link_to 'Show', vat %></td>
    <td><%= link_to 'Edit', edit_vat_path(vat) %></td>
    <td><%= link_to 'Destroy', vat, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Vat', new_vat_path %>
