<%= simple_form_for(@region) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name %>
    <%= f.association :nielsen_area %>
    <%= f.input :delivery_time %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
