<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @region.name %>
</p>

<p>
  <b>Nielsen area:</b>
  <%= @region.nielsen_area %>
</p>

<p>
  <b>Delivery time:</b>
  <%= @region.delivery_time %>
</p>


<%= link_to 'Edit', edit_region_path(@region) %> |
<%= link_to 'Back', regions_path %>
